/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::before {
  display: block;
  content: '';
  height: 60px;
}
h1,
h2 {
  color: #2c4964;
}
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.background-gradient {
  background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
}
a {
  text-decoration: none;
  color: #2c4964;
}
a:active,
a:hover {
  color: #3d5b77
}


/* Hero Section */
#hero {
  width: 100%;
  height: 75vh;
  background: url("./img/lakes.jpg") top center;
  background-size: cover;
  padding: 0 15px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  color: #eee;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  font-family: sans-serif;
}
#hero .btn-get-started {
  font-size: 64px;
  transition: 0.5s;
  color: #fff;
  height: 60px;
}
#hero .btn-get-started:hover {
  padding-top: 10px;
  color: #2c4964;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/* Showcase */
.about__image {
  background: url("./img/josh-barcelona.jpg") center center no-repeat;
  background-size: cover;
  min-height: 400px;
  width: 100%;
}
.row1 { /* modified bootstrap class for Showcase (not using currently) */
  --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

/* Skills */
.skills .experience {
  height: 200px;
  display: block;
  background: none;
}
.skills .experience .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  display: block;
  font-weight: 600;
  font-family: sans-serif;
  color: #2c4964;
}
.experience-img {
  height: 100px;
  width: 100px;
}

/* Contact & Map */
.social-links a {
  display: block;
  margin-left: 25px;
}

.social-links a {
  display: inline-block;
}

/* Custom media query for the Showcase image */
@media only screen and (min-width: 768px) {
  .about__image {
    background: url("./img/josh-barcelona.jpg") center center no-repeat;
    background-size: cover;
    min-height: 400px;
    width: 50%;
  }
}